.box {
    height: 100px;
    width: 100px;
}

div {
    margin: auto;
}

#pembungkus {
    border: 15px solid lightgreen;
    width: 300px;
    height: 400px;
    position: relative;
}

#box1 {
    background-color: red;
    position: relative;
    top: 50px;
    left: 50px;
}

#box2 {
    background-color: green;
}

#box3 {
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#box4 {
    background-color: blueviolet;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}